<li class="leading-relaxed">
  <%=
    link_to post.localized_title,
            post,
            class:
              'font-serif text-brand-800 dark:text-brand-200 hover:text-accent transition-colors'
  %>
</li>
